<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/img/logo.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Voever
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/demo/demo.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body class="login-page sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent nomob" color-on-scroll="400">
    <div class="container">
      <div class="dropdown button-dropdown">
      </div>
      <div class="navbar-translate" style="margin-bottom: auto; margin-top: -12px">
        <a class="navbar-brand" href="#" style="font-size: 30px;">
          <img src="../static/img/logo.png" class="creative-tim-logo"/>
          voever
        </a>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
        <form class="form" method="" action="" id="formlogin">
          <ul class="navbar-nav" style="color: #ffffff">
            <li class="nav-item">
              <div class="input-group no-border input-lg" id="login-user-div1">
                <div class="input-group-prepend">
                      <span class="input-group-text" style="color: #ffffff">
                        <i class="now-ui-icons users_circle-08"></i>
                      </span>
                </div>
                <input type="text" class="form-control" placeholder="Username or Email..." style="color: #ffffff" id="login-user-input1" oninput="user1_input()"/>
              </div>
            </li>
            <li class="nav-item">
              <div class="input-group no-border input-lg" id="login-pwd-div1">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="color: #ffffff">
                      <i class="now-ui-icons ui-1_lock-circle-open"></i>
                    </span>
                </div>
                <input type="password" placeholder="Password..." class="form-control" style="color: #ffffff" id="login-pwd-input1" oninput="pwd1_input()"/>
              </div>
              <div class="pull-left" style="margin-left: 25px">
                <h6>
                  <a href="contact" class="link">Forgot Password?</a>
                </h6>
              </div>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary btn-round btn-lg btn-block nav-link sweettrans" onclick="login_pressed()">Log In</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-- change css for the page-header -->
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" style="background-image:url(../static/img/login.jpg)"></div>
    <nav class="navbar navbar-expand-lg bg-primary navbar-transparent mob" color-on-scroll="400">
      <div class="container">
        <a class="navbar-brand ml-auto mr-auto" href="#" style="font-size: 30px;">
          <img src="../static/img/logo.png" class="creative-tim-logo" />
          voever
        </a>
      </div>
    </nav>
    <div class="content">
      <div class="container nomob">
        <div class="col-md-7 ml-auto sweettrans" id="imgdesc">
          <div class="card card-plain">
            <div class="card-body">
                <p class="text-center desc1">
                    Welcome to <span class="v">V</span><span>OEVER</span>.
                </p>
                <p class="text-center desc">
                    <span>SHARE</span> your favorites playlists,
                </p>
                <p class="text-center desc">
                  and <span>MAKE</span> new friends along the way.
                </p>
              <a class="btn btn-round btn-lg btn-block col-md-5 mx-auto sb" id="sb" onclick="signup()">Create Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slider for the signup form -->
    <div class="slidesignup nomob" id="slidesignup">
      <div class="content">
        <div class="container">
          <div class="col-md-10 mr-auto">
            <div class="card card-login card-plain">
              <form class="form nomob formsignup" id="formsignup" method="" action="">
                <div class="card-body">
                  <span id="closess" onclick="login()">&times;</span>
                  <h3 style="margin-top: 60px">Sign Up</h3>
                  <div class="input-group no-border input-lg" id="signup-email-div1">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_email-85"></i>
                    </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email..." id="signup-email-input1" oninput="su_email1_input()">
                  </div>
                  <div class="input-group no-border input-lg" id="signup-username-div1">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                    </div>
                    <input type="text" placeholder="Username..." class="form-control" id="signup-username-input1" oninput="su_user1_input()"/>
                  </div>
                  <div class="input-group no-border input-lg" id="signup-pwd-div1">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_lock-circle-open"></i>
                    </span>
                    </div>
                    <input type="password" placeholder="Password..." class="form-control" id="signup-pwd-input1" oninput="su_pwd1_input()"/>
                  </div>
                  <div class="input-group no-border input-lg" id="signup-cpwd-div1">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_lock-circle-open"></i>
                    </span>
                    </div>
                    <input type="password" placeholder="Confirm Password..." class="form-control" id="signup-cpwd-input1" oninput="su_cpwd1_input()"/>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <a class="btn btn-primary btn-round btn-lg btn-block sweettrans" onclick="signup_pressed()">Sign Up</a>
                  <div>
                    <p class="link">By Signing up you agree to our <a href="#pablo" class="link">Terms & Privacy</a> Policy.</p>
                  </div>
                </div>
                <p>Or Sign Up with</p>
                <div class="flex-c p-b-112">
                  <a href="{% url 'social:begin' 'facebook' %}" class="login100-social-item fcbk">
                    <i class="fa fa-facebook-f"></i>
                  </a>
                  <a href="{% url 'social:begin' 'twitter' %}" class="login100-social-item twit">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="{% url 'social:begin' 'google-oauth2' %}" class="login100-social-item">
                    <img src="../static/img/icon-google.png">
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End of Slider -->

    <div class="content mob">
      <div class="container">
        <div class="col-md-10 mr-auto ml-auto">
          <div class="card card-login card-plain">

            <!-- login form for mobile  -->

            <form class="form" id="formloginmob" method="" action="">
              <div class="card-body">
                <div class="input-group no-border input-lg" id="login-user-div2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                  </div>
                  <input type="text" placeholder="Username or Email..." class="form-control" id="login-user-input2" oninput="user2_input()"/>
                </div>
                <div class="input-group no-border input-lg" id="login-pwd-div2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_lock-circle-open"></i>
                    </span>
                  </div>
                  <input type="password" placeholder="Password..." class="form-control" id="login-pwd-input2" oninput="pwd2_input()"/>
                </div>
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-primary btn-round btn-lg btn-block sweettrans" onclick="login_pressed()">Log In</a>
                <div class="pull-left">
                  <h6>
                    <a class="link" onclick="signupmob()" style="cursor: pointer">Create Account</a>
                  </h6>
                </div>
                <div class="pull-right">
                  <h6>
                    <a href="contact" class="link">Forgot Password?</a>
                  </h6>
                </div>
              </div>
            </form>

            <!-- End login form for mobile  -->

            <!-- sign up form for mobile  -->

            <form class="form formsignup" id="formsignupmob" method="" action="">
              <div class="card-body">
                <h3>Sign Up</h3>
                <div class="input-group no-border input-lg" id="signup-email-div2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_email-85"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email..." id="signup-email-input2" oninput="su_email2_input()">
                </div>
                <div class="input-group no-border input-lg" id="signup-username-div2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                  </div>
                  <input type="text" placeholder="Username..." class="form-control" id="signup-username-input2" oninput="su_user2_input()"/>
                </div>
                <div class="input-group no-border input-lg" id="signup-pwd-div2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_lock-circle-open"></i>
                    </span>
                  </div>
                  <input type="password" placeholder="Password..." class="form-control" id="signup-pwd-input2" oninput="su_pwd2_input()"/>
                </div>
                <div class="input-group no-border input-lg" id="signup-cpwd-div2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_lock-circle-open"></i>
                    </span>
                  </div>
                  <input type="password" placeholder="Confirm Password..." class="form-control" id="signup-cpwd-input2" oninput="su_cpwd2_input()"/>
                </div>
              </div>
              <div class="card-footer text-center">
                <a class="btn btn-primary btn-round btn-lg btn-block sweettrans" onclick="signup_pressed()">Sign Up</a>
                <div>
                  <p class="link">By Signing up you agree to our <a href="#pablo" class="link">Terms & Privacy</a> Policy.</p>
                </div>
              </div>
              <p>Or Sign Up with</p>
              <div class="flex-c p-b-112">
                <a href="{% url 'social:begin' 'facebook' %}" class="login100-social-item fcbk">
                  <i class="fa fa-facebook-f"></i>
                </a>
                <a href="{% url 'social:begin' 'twitter' %}" class="login100-social-item twit">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="login100-social-item">
                  <img src="../static/img/icon-google.png">
                </a>
              </div>
              <div style="margin-top: 20px">
                <h6>
                  <a class="link" onclick="loginmob()" style="cursor: pointer">Already have an account?</a>
                </h6>
              </div>
            </form>

            <!-- End sign up form for mobile  -->

          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav>
          <ul>
            <li>
              <a href="mailto:support@voever.com">
                Contact Us
              </a>
            </li>
            <li>
              <a href="terms_and_privacy">
                Privacy & Terms
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright" id="copyright">
          &copy;
          <script>
            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
          </script>, Voever.
        </div>
      </div>
    </footer>
  </div>
  <!--   Core JS Files   -->
  <script src="../static/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../static/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../static/js/core/bootstrap.min.js" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="../static/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../static/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="../static/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="../static/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>
  <!-- page main functions -->
  <script src="../static/js/login.js" type="text/javascript"></script>
</body>

</html>